<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.dennisfabri.points" android:installLocation="preferExternal" android:versionCode="23" android:versionName="1.23">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="30" />
	<application android:label="Rettungssport Punkte" android:icon="@mipmap/ic_launcher"></application>
</manifest>